/*css初始化*/
body,div,p,ul,li{
	margin: 0;
	padding: 0;
	font: 12px 宋体;
}
img,input{
	border: 0 none;
}
input{
	outline-style: none;
}
a{
	color: #000;
	text-decoration: none;
}
ul,li{
	list-style: none;
}

/*顶部导航*/
.fl{
	float: left;
}
.fr{
	float: right;
}
.top-nav{
	height: 26px;
	border-top: 1px solid #d8d8d8;
	border-bottom: 1px solid #d8d8d8;
	background: #F7F7F7;
}
.t-n-con,.search{
	width: 970px;
	margin: 0 auto;
}
.l-t-con{
	height: 26px;
	line-height: 26px;
}
.r-t-con li{
	float: left;
	background: url("../images/sj.png") no-repeat right;
	height: 26px;
	line-height: 26px;
}
.r-t-con li a{
	display: inline-block;
	height: 26px;
	padding: 0 10px;
}
/*logo搜索*/
.search{
	margin-top: 20px;
}
.logo{
	width: 200px;
	height: 84px;
}
.r-search{
	width: 528px;
	height: 40px;
	border: 1px solid #C9C9C9;
	background: #f5f5f5;
	margin-top: 30px;
}
.r-search input[type="text"]{
	width: 419px;
	height: 28px;
	border: 1px solid #A6A6A6;
	float: left;
	margin: 5px 0 0 4px;
}
.r-search input[type="button"]{
	width: 99px;
	height: 32px;
	background: url("../images/serch.png");
	float: left;
	margin-top: 5px;
}
.cleanfix:after{
	display: block;
	height: 0;
	content: ".";
	line-height: 0;
	visibility: hidden;
	clear: both;
}
/*logo搜索结束*/
/*主导航开始*/
.nav{
	width: 970px;
	height: 25px;
	margin: 10px auto;
	border-bottom: 3px solid #0266a3;
}
.nav li{
	float: left;

}
.nav li a{
	height: 25px;
	line-height: 25px;
	display: inline-block;
	padding: 0 15px;
	color: #0266a3;
}
.nav li a:hover{
	background: #0266a3;
	color: #fff;
}
/*商机市场开始*/
.mar{
	width: 970px;
	height: 210px;
	margin: 0 auto;
}
.mar-l{
	height: 210px;
	width: 200px;
	background: #EBF0F6;

}
.mar-l-title{
	height: 30px;
	background: #0266a3;
	line-height: 30px;
	color: #fff;
	padding-left: 20px;
}
.mar-list{
	margin-top: 5px;
}

.mar-list li{
	height: 28px;
	line-height: 28px;
	padding-left: 39px;
}
.mar-list li.icon1{
	background: url("../images/icon_1.png") no-repeat 9px;
}
.mar-list li.icon2{
	background: url("../images/icon_2.png") no-repeat 9px;
}.mar-list li.icon3{
	background: url("../images/icon_3.png") no-repeat 9px;
}.mar-list li.icon4{
	background: url("../images/icon_4.png") no-repeat 9px;
}.mar-list li.icon5{
	background: url("../images/icon_5.png") no-repeat 9px;
}.mar-list li.icon6{
	background: url("../images/icon_6.png") no-repeat 9px;
}
/*商机市场中间盒子*/
/*商机市场右盒子*/
.mar-r{
	width: 234px;
	height: 210px;
}
.mar-r img[src="../images/center-r.png"]{
	margin-bottom: 21px;
	border-right: 1px solid #E0E6F0;
}
/*建筑材料部分开始*/
.bud{
	height: 34px;
	width: 948px;
	margin: 14px auto 11px;
	background: #ECF1F7;
	border-top: 2px solid#C3D7E4;
	font: 700 14px/34px 宋体;
	padding-left: 22px;
}
/*建筑材料图片列表*/
.pro{
	width: 970px;
	height: 344px;
	margin: 0 auto;
}
.pro-l{
	width: 727px;
	height: 344px;
	border: 1px solid #aaa;
	float: left;
	/*background: #aaa;*/

}
.pro-r{
	width: 228px;
	height: 344px;
	border: 1px solid #aaa;
	float: right;
}
/*左边上部分大盒子*/
.pro-l-t{
	width: 656px;
	height: 142px;
	/*background: #eee;*/
	margin: 15px 0 14px 26px;
}
.pro-pic-l{
	width: 318px;
	height: 142px;
	/*background: red;*/
}
.pro-pic-r{
	width: 318px;
	height: 142px;
	/*background: green;*/
}
.pro-pic-ll{
	height: 142px;
	width: 97px;
	/*background: yellow;*/
}
.pro-pic-llt{
	text-align: center;
	width: 95px;
	height: 100px;
	border: 1px solid #ccc;
}
.pro-pic-llt img{
	margin-top: 18px;
}
.pro-pic-btn input{
	width: 98px;
	height: 26px;
	background: url("../images/buy.png");
	margin-top: 15px;
}
.pro-pic-lr p{
	margin-left: 10px;
	font-size: 14px;
}
.pro-pic-lr p.txt1{
	height: 28px;
	margin-top: 10px;
}
.pro-pic-lr p.txt2{
	height: 49px;
}
.pro-pic-lr p.txt3{
	height: 38px;
}
.pro-pic-lr p span{
	color: #ff0000;
	font-weight: 700;
}
.pro-pic-lr p del{
	font-size: 12px;
}
.pro-line{
	border-top: 1px solid #EEEEEE;
	margin: 0 5px;
}
.pro-r-title{
	height: 28px;
	padding-left: 15px;
	background: #fbfbfb;
	border-bottom: 1px solid #E0E6F0;
	line-height: 28px;
}
.pro-r ul li{
	padding-left: 25px;
	height: 24px;
	background: url("../images/li_bg.png") no-repeat 10px 6px;
}
.pro-r ul{
	margin-top: 17px;
}
.pro-r ul li a:hover{
	color: #ff0000;
}

/*儿童安全座椅*/
.child{
	width: 970px;
	height: 326px;
	margin: 0 auto 30px;

}
.child-left{
	width: 722px;
	height: 326px;
}
.child-l-t{
	height: 23px; 
	background: url("../images/et.png") no-repeat;
	border-bottom: 2px solid #00b0e7
}
.child-l-t h3{
	width: 100px;
	font-size: 14px;
	color: #00b0e7;
	font-weight: 700;
	height: 23px;
	line-height: 23px;
	margin-left: auto;
	text-align: right;
}
.child-l-b{
	height: 301px;
	border: 1px solid #cacaca;
}
.child-pic{
	width: 164px;
	text-align: center;
	margin: 5px 0 0 13px;
}
.child-pic p.et1{
	height: 43px;
	margin-top: 9px;
}
.child-pic p.et2,.child-pic p.et3{
	color: #999;
	height: 24px;
}
.child-pic p.et3 del,.child-pic p.et4 span{
	color: #990000;
}
.child-right{
	width: 218px;
	height: 326px;
}
.child-right img[src="../images/et_right.png"]{
	border: 1px solid #cbcbcb;
	margin-top: 20px;
	margin-bottom: 10px;
}
.pro-r li.subtitle{
	height: 75px;
	background: none;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 24px;
}
.pro-r li.subtitle img{
	float: left;
	margin-right: 5px;
}
.pro-r li.subtitle p{
	 color:#777;
}
/*友情链接*/
.friendlink{
	width: 970px;
	height: 102px;
	border-top: 1px solid #DDDDDD;
	border-bottom: 2px solid #0a7ec3;
	margin: 10px auto 0;
}
.friendlink .frlink{
	height: 38px;
}
.friendlink .frlink,.friendlink li{
	float: left;
}
.friendlink .frlink, .friendlink ul{
	margin-top: 30px;
}
.friendlink li{
	margin-bottom: 14px;
	padding: 0 4px;
}
.friendlink li a:hover{
	color: #ff0000;
	text-decoration: underline;
}
/*版权部分*/
.copyright{
	height: 91px;
}
.copyright ul{
	width: 700px;
	height: 14px;
	margin: 15px auto 13px;
}
.copyright ul li{
	float: left;
	padding: 0 10px;
	background: url("../images/footer_bg.png") no-repeat right;
}
.copyright p{
	text-align: center;
}
.copyright p.copy{
	height: 24px;
	margin-top: 13px;
}
